:root {
    --first-background-color: #292F36;
    --secondary-background-color: #1A1E23;
    --primary-color: #1A1E23;
    --white-color: #fff;
    --accent-color: #FAC16C;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--white-color);
    background-color: var(--first-background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;
}

* {
    box-sizing: border-box;
    margin: 0;
}